* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

article {
    margin-top: 87px;
    background-color: #111111;
    padding-bottom: 1px;
}

footer {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
}